{% extends "a1/product_detail.html" %}
{% load widget_tweaks %}
{% block add_review %}
<!-- <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="add review" class="btn btn-primary">
</form> -->
<form method="post">
    {% csrf_token %}
   
    <div class="form-group">
      <label for="id_rev">How was the product ? </label>
      
      {% render_field form.rev class="form-control"  %}
    </div>
  
    <div class="form-group">
      <label for="id_experience">What was your experience</label>
    
      {% render_field form.experience class="form-control"  %}
    </div>
    <input type="submit" value="add review" class="btn btn-primary">
  </form>
{%endblock%}
