
{% extends "a1/base.html" %}
{% load widget_tweaks %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup_styles.css' %}">
{% endblock %}
{% block content %}
{%if form.errors%}
<div class="alert alert-warning" role="alert">
    {{form.errors}}
  </div>
  {%endif%}

<div class="container">
    <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>
        <p>
            <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
            <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
        </p>
        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>
        <form method="post">
            {% csrf_token %}
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            
            {% render_field form.username class="form-control" placeholder="Enter username" %}
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
           
            {% render_field form.first_name class="form-control" placeholder="Enter first name" %}
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            
            {% render_field form.last_name class="form-control" placeholder="Enter last name" %}
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            
            {% render_field form.email class="form-control" placeholder="Enter email" %}
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
 
            {% render_field form.phone_number class="form-control" placeholder="Enter phone number" %}
        </div> <!-- form-group// -->
  
         
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            
            {% render_field form.password1 class="form-control" placeholder="Create password" %}
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>

            {% render_field form.password2 class="form-control" placeholder="Repeat password" %}
        </div> <!-- form-group// --> 
      
          
        {{ form.role  }} 
        
        
         

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>                                                                 
    </form>

    </div> <!-- card.// -->
    
    </div> 
    <!--container end.//-->
{% endblock %}