{% extends "a1/base.html" %}


{% block content %}
{%if form.errors%}
<div class="alert alert-warning" role="alert">
    {{form.errors}}
  </div>
  {%endif%}
<div class="container">
    {% if not hide_update%}
    <strong>Username</strong>: - {{userprofile.username}}<br> 
    <strong>First Name</strong>: - {{userprofile.first_name}}<br>
    <strong>Last Name</strong>: - {{userprofile.last_name}}<br>
    <strong>Phone Number</strong>: - {{userprofile.phone_number}}<br>
    <strong>address</strong>: - {{userprofile.address}}<br>
    
    
    <a href="{% url 'a1:update_profile' pk=userprofile.pk %}" class="btn btn-warning">Edit Profile</a>
    {%endif%}
{% if hide_update%}
    <form method="post" >
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Edit">
    </form>

{%endif%}

</div>
{%endblock%}